@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Franklin:wght@400;500;600;700&display=swap%22");

.ff_liber {
  font-family: "Libre Franklin", sans-serif;
}

.ff_inter {
  font-family: "Inter", sans-serif;
}
body {
  background: #edf1f2 !important;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  /* font-size  */

  --fs-sm: 7px;
  --fs-xsm: 11px;
  --fs-md: 12px;
  --fs-lg: 14px;
  --fs-xl: 16px;

  /* color */

  --clr-primary: #e89e3f;
  --clr-secondary: #7c7c7c;
  --clr-tertiary: #4f4f4f;
  --clr-blue: #130f26;

  /*  bg-color */

  --bg-white: #fffdff;
  --bg-light-gray: #edf1f2;
  --bg-theme: #e69b3a;
}

/* / text-colors / */

.text_primary {
  color: var(--clr-primary);
}

.text_secondary {
  color: var(--clr-secondary);
}

.text_tertiary {
  color: var(--clr-tertiary);
}
.text_dark_blue {
  color: var(--clr-blue);
}

/* / bg-clr / */

.bg_theme {
  background: var(--bg-theme);
}
.bg_light-gray {
  background: var(--bg-light-gray);
}
.bg_white {
  background: var(--bg-white);
}

/* font-weight */
.fw_500 {
  font-weight: 500;
}

/* font-size */

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

/* z_index */
.z_index_1 {
  z-index: -1;
}
.z_index0 {
  position: relative;
  z-index: 0;
}
.z_index1 {
  position: relative;
  z-index: 1;
}
.z_index2 {
  z-index: 1;
  position: relative;
}
.active {
  background: linear-gradient(
    89.93deg,
    rgba(238, 169, 80, 0.27) 2.77%,
    rgba(238, 169, 80, 0) 109.06%
  );
  border-radius: 22.5px;
}
.active svg path {
  fill: url(#paint1_linear_33_463);
}
.active .marketplace_btn {
  background: linear-gradient(152.03deg, #ffc881 -19.27%, #da8517 109.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 600 !important;
}
input {
  outline: none;
  border: none;
  padding: 20px 16px;
  background-color: transparent;
}
::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 116%;
  color: #a5a3a9;
}
.search_input {
  background: #f9f9f9 !important;
  border: 1px solid #e8e8ea !important;
  border-radius: 18px !important;
}
article:hover.marketplace_btn {
  background: linear-gradient(
    89.93deg,
    rgba(238, 169, 80, 0.27) 2.77%,
    rgba(238, 169, 80, 0) 109.06%
  );
  border-radius: 22.5px;
}

article:hover .text_gradient {
  background: linear-gradient(152.03deg, #ffc881 -19.27%, #da8517 109.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 600 !important;
}
article:hover svg path {
  fill: url(#paint1_linear_33_463);
}
a:hover svg path {
  fill: url(#paint1_linear_33_463);
}
a:hover a {
  color: #d39645;
}
.wave_img {
  max-width: 335px;
  max-height: 456.16px;
  left: -5px;
}

.genesis_text_gradient {
  background: linear-gradient(152.03deg, #ffc881 -19.27%, #da8517 109.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.explore_btn {
  background: linear-gradient(152.03deg, #ffc881 -19.27%, #da8517 109.91%);
  box-shadow: 6px 4px 25px rgba(230, 156, 62, 0.34);
  border-radius: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #ffffff;
}
.explore_btn:hover {
  color: #ffc881;
  background: linear-gradient(152.03deg, #ffffff -19.27%, #f6f5f3 109.91%);
  border: 1px solid #ffb85b;
}
.genesis_box {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 18px;
}

.items_border {
  border: 1px solid #d39645;
  border-radius: 7px;
}
.border_end {
  border-right: 1px solid #d39645;
}

.overlay {
  width: 100%;
  height: 41%;
  bottom: -90%;
  left: 0%;
  background: #000;
  background: rgba(106, 106, 106, 0.69);
  backdrop-filter: blur(4px);
  border-radius: 0px 0px 18px 18px;
  transition: all 0.4s ease-in-out;
}
div.position-relative.overflow-hidden:hover .overlay {
  width: 100%;
  height: 41%;
  bottom: 0;
  left: 0%;
  background: #000;
  background: rgba(106, 106, 106, 0.69);
  backdrop-filter: blur(4px);
  border-radius: 0px 0px 18px 18px;
}
.dragan_img {
  width: 60px;
  height: 60px;
  transform: translateY(-10%);
}

.collection_img {
  width: 227px;
  height: 165px;
}
.Block_img {
  width: 104px;
  height: 82px;
}

.btn_show {
  background: linear-gradient(152.03deg, #ffc881 -19.27%, #da8517 109.91%);
  box-shadow: 6px 4px 25px rgba(230, 156, 62, 0.34);
  border-radius: 22px;
}
.width_custom {
  width: 50% !important;
}
.overflow_custom {
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #d39645;
}

/* dropdown */
.btn-success {
  --bs-btn-color: var(--clr-tertiary) !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: #a8a8a8 !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: var(--bg-theme) !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bg-theme) !important;
  --bs-btn-active-border-color: var(--bg-theme) !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: transparent !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle:hover svg path {
  stroke: white;
}

.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  --bs-btn-color: var(--clr-tertiary) !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: #a8a8a8 !important;
}

.carousel-indicators {
  display: none !important;
}
.nav-tabs {
  --bs-nav-tabs-border-width: 0px !important;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  /* --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff; */
  border-bottom: var(--bs-nav-tabs-border-width) solid
    var(--bs-nav-tabs-border-color);
}
.cursor_pointer {
  cursor: pointer;
}
a:hover {
  color: #d39645 !important;
}

.threeline {
  width: 30px;
  z-index: 124;
  position: inherit;
}
.threelinechild {
  width: 100%;
  height: 3px;
  margin-top: 4px;
  transition: all 0.4s ease-in-out;
  background-color: #da8517;
}

.falseline1 {
  width: 70%;
  height: 5px;
  background-color: #da8517;
  transition: all 0.4s ease-in-out;
  transform: skewY(44deg) translate(10%, -10%);
}
.falseline3 {
  width: 70%;
  height: 5px;
  background-color: #da8517;
  transition: all 0.4s ease-in-out;
  transform: skewY(-44deg) translate(10%, 16%);
}
.shownav {
  position: fixed;
  width: 400px;
  height: 100vh !important;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 123 !important;
  overflow: scroll;
  transition: all 0.4s ease-in-out;
}
.hidenav {
  position: absolute;
  max-width: 100vw;
  height: 100vh !important;
  background: #ffffff;
  left: -110%;
  top: 0;
  transition: all 0.4s ease-in-out;
  z-index: 123 !important;
}
.transform_classes {
  transform: translate(50%, 60%);
}
.rotate_180 {
  transform: rotate(180deg);
}
.height_1024 {
  height: 1024px !important;
}
.scale {
  transform: scale(1.5);
}
.bg_light_white {
  background-color: #edf1f2;
}
.carousel-control-prev {
  margin-left: 15px;
}
@media (max-width: 576px) {
  input {
    outline: none;
    border: none;
    padding: 15px 8px;
    background-color: transparent;
  }
  .ps_100 {
    position: 100px;
  }
}
@media (min-width: 992px) {
  .width_custom {
    width: 100% !important;
  }

  .arrow_left {
    top: 10px;
    right: 100px;
    width: 50px !important;
  }
  .arrow_right {
    top: 10px;
    right: 31px;
    width: 50px !important;
  }
}
@media (min-width: 1200px) {
  .img_overflow {
    transform: translateY(50px);
  }
  .height_100 {
    height: 100vh !important;
  }
  .arrow_left {
    top: 30px;
    right: 100px;
    width: 50px !important;
  }
  .arrow_right {
    top: 30px;
    right: 31px;
    width: 50px !important;
  }
}
